*
{
  margin: 0;
  padding: 0;
}
html, body
{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, blue 0%, red 100%);
}
/*--------Animation for Bouncing Snake Icon-----*/
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
canvas
{
  z-index: 2;
  background-color: black;
  border: 3px solid white;
  box-shadow: 4px 4px 12px 4px;
}
h1
{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
/*----Snake sounds----*/
#snake_sound
{
  display: none;
  font-family: sans-serif;
  text-align: right;
  width: 75%;
  animation: bounce 1s;
}
/*----------Popup when user wins-----------*/
#win
{
  display: none;
  color: white;
  font-family: sans-serif;
  padding-top: 25px;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
}
#playagain
{
  display: none;
  color: white;
  font-family: sans-serif;
  padding-top: 40px;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
}
#playagain:hover
{
  cursor: pointer;
  animation: bounce 1s;
}
/*----Popup when user loses-----*/
#popup
{
  display: none;
  color: red;
  font-size: 40px;
  padding-top: 25px;
  text-align: center;
}
/*-----Popup when user pauses game----*/
#pause
{
  display: none;
  font-family: sans-serif;
  z-index: 2;
  color: white;
  text-align: center;
}
/*-----Snake logo------*/
#logo
{
  position: absolute;
  top: 13%;
  left: 60%;
  transform: scale(0.85);
  transition: all 0.3s ease-in-out;
}
#logo:hover
{
  cursor: pointer;
  animation: bounce 1s;
}
#logo:hover::after
{
  opacity: 1;
}
/*------Game Name------*/
.top
{
  padding-top: 50px;
  padding-bottom: 10px;
}
/*---Media Queries for different resolutions----*/
@media(max-height: 1100px)
{
  #logo
  {
    top: 10%;
  }
}
@media(max-height: 1000px)
{
  #logo
  {
    top: 8%;
}
@media(max-height: 800px)
{
  #logo
  {
    top: 6%;
    transform: scale(0.6);
  }
}
@media(max-height: 750px)
{
  #logo
  {
    top: 0%;
    transform: scale(0.5);
  }
}
@media(max-height: 650px)
{
  #logo
  {
    top: -5%;
    transform: scale(0.2);
  }
}
@media(max-height: 550px)
{
  #logo
  {
    top: -13%;
    transform: scale(0.2);
  }
}
@media(max-height: 500px)
{
  #logo
  {
    top: -18%;
    transform: scale(0.2);
  }
}
@media(max-width: 1300px)
{
  #logo
  {
    left: 65%;
  }
}
@media(max-width: 1000px)
{
  #logo
  {
    left: 69%;
  }
}
@media(max-width: 800px)
{
  #logo
  {
    left: 75%;
  }
}
@media(max-width: 550px)
{
  #logo
  {
    left: 83%;
  }
}
